# Python
__pycache__/
*.py[cod]
*$py.class

# Poetry
.venv/
poetry.lock

# Build artifacts
dist/
build/
*.egg-info/

# IDE / Editor specific
.vscode/
.idea/
*.swp
*.swo

# Test outputs
htmlcov/
.coverage
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# OS specific
.DS_Store
Thumbs.db 